*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  /* HEADER */

  #header {
    background-color:#212529;
}

#header img {
    width: 70px;
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

#header .container {
    display:flex;
    flex-direction: initial;
}

#header .nav-link {
    color: whitesmoke;
    display: grid;
    margin-left: 25px;
}

#header a:hover {
    color:#0085CB;
}

#menu-mobile {
    display: none;
}

#menu-mobile .navbar-toggler {
    background-color: whitesmoke;
}

/* Contact */

.contact {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
}

.contact-title h1 {
    background-color:#212529;
    color: whitesmoke;
    box-shadow: 5px 10px 7px #000;
}

.contact-title p {
    padding-top: 10px;
}

.row {
    margin-top: 50px;
}

.contact svg {
    color:#212529;
    fill:currentColor !important;
    
}

.contact img {
    width: 30%;
    filter:drop-shadow(4px 10px 7px gray);
}

/* Contact */

/* Footer */

#footer {
    background: #212529;
    bottom: 0;
    margin-top: auto;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

#footer .footer__space {
    border-left: gray 1px solid;
}

#footer a {
    color: gray;
    font-size: 10px;
}

#footer p {
    color:gray;
    font-size: 10px;
} 

#footer h6 {
    color:white;
} 

#footer ul {
align-items: center;
padding-left: 0px;
}

#footer .footer-copyright {
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
}

.social-links__icons {
    display: inline-block;
}

.social-links__icons svg:hover {
    color: #0085CB;
}

/* /Footer */

@media (max-width: 540px){
   
    #header .container {
        align-items:flex-start;
       }
       
        #menu-mobile {
            display: block;
        }
    
        #menu-mobile .navbar>.container {
            align-items: none!important;
        }
    
        #menu-mobile .nav-item {
            text-align: left;
        }
    
        #menu-mobile .nav-item a {
            margin: 5px;
        }
    
        .navbar-nav {
            text-align: end;
        }
   
    .contact {
        margin-left: 0px;
        margin-right: 0px;
    }
    .row img {
        width: 40%;
    }
}